<nav class="navbar fixed-top navbar-dark navbar-expand-md bg-dark text-white">
    <a class="text-white navbar-brand" href="/">
        <i class="fas fa-cogs"></i> Repuestos la bayadera
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
    
    </div>
</nav>
<div class="container mt-4">
    <main role="main">
        <div class="row">
            <div class="col">
                <br>
                <br>
                <h1>Pedidos</h1>
                <div class="table-responsive-sm">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>Id</th>
                                <th>Pedido</th>
                                <th>Total</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            {{#each order}}
                                <tr>
                                    <td>{{this._id}}</td>
                                    <td>{{this.order}}</td>
                                    <td>{{this.total}}</td>
                                    <td>
                                        <a class="btn btn-primary" href="/order/{{this._id}}">Actualizar</a>
                                        <a class="btn btn-danger" href="/order/delete/{{this._id}}">Eliminar</a>
                                    
                                    </td>
                                </tr>
                            {{/each}}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </main>
</div>